--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/WZZri6oNdi
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:33.217Z\",\"objectId\":\"WZZri6oNdi\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:33 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"other\":{\"__type\":\"Pointer\",\"className\":\"Post\",\"objectId\":\"WZZri6oNdi\"}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/U4kLuRBdQa
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:33.555Z\",\"objectId\":\"U4kLuRBdQa\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:33 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post/U4kLuRBdQa
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"24f7ff3992b95b69781a8522f847ec6e\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"other\":{\"__type\":\"Pointer\",\"className\":\"Post\",\"objectId\":\"WZZri6oNdi\"},\"createdAt\":\"2013-04-22T14:11:33.555Z\",\"updatedAt\":\"2013-04-22T14:11:33.555Z\",\"objectId\":\"U4kLuRBdQa\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:33 GMT
recorded_with: VCR 2.4.0
