--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/TestSave
    body: 
      encoding: UTF-8
      string: "{\"age\":20}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/TestSave/biRSNQbNJJ
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:27.440Z\",\"objectId\":\"biRSNQbNJJ\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:27 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/TestSave/biRSNQbNJJ
    body: 
      encoding: UTF-8
      string: "{\"age\":40}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"1247a7f2816ece7363ce5b8e616eda09\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:22:27.506Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:27 GMT
recorded_with: VCR 2.4.0
