--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body: 
      encoding: UTF-8
      string: "{\"foo\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/BatchTestObject/nwZmHsdBY5
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:28.847Z\",\"objectId\":\"nwZmHsdBY5\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:28 GMT
[...]
- request: 
    method: post
    uri: https://api.parse.com/1/batch
    body: 
      encoding: UTF-8
      string: "{\"requests\":[{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/nwZmHsdBY5\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/XNWXXL2B3b\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/3duUmpmf85\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/a8Wvg3BegN\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/VuBYytUAFp\",\"body\":{\"foo\":\"updated\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"8a046b9d2d737d4e953e195134b93b48\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "[{\"success\":{\"updatedAt\":\"2013-04-22T14:11:29.131Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T14:11:29.141Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T14:11:29.152Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T14:11:29.162Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T14:11:29.172Z\"}}]"
  recorded_at: Mon, 22 Apr 2013 14:11:29 GMT
recorded_with: VCR 2.4.0
