---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/aZ7tiNFNDZ
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-06-21T16:16:14.217Z","objectId":"aZ7tiNFNDZ"}'
  recorded_at: Fri, 21 Jun 2013 16:16:14 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?where=%7B%22objectId%22:%7B%22$in%22:%5B%22aZ7tiNFNDZ%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%22x%22,%2[...]
[...]
