--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/ZkKSkVC6cF
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:32.631Z\",\"objectId\":\"ZkKSkVC6cF\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Comment
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Comment/nab3iM1KPh
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:32.756Z\",\"objectId\":\"nab3iM1KPh\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Post/ZkKSkVC6cF
    body: 
      encoding: UTF-8
      string: "{\"comments\":{\"__op\":\"AddRelation\",\"objects\":[{\"__type\":\"Pointer\",\"className\":\"Comment\",\"objectId\":\"nab3iM1KPh\"}]}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 400 Bad Request
    body: 
      encoding: ASCII-8BIT
      string: "{\"code\":111,\"error\":\"can't add a relation to an non-relation field\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
recorded_with: VCR 2.4.0
