---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/TestSave
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/TestSave/WSaiWmntLn
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-04-22T16:03:14.541Z","objectId":"WSaiWmntLn"}'
  recorded_at: Mon, 22 Apr 2013 16:03:14 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/TestSave/WSaiWmntLn
    body:
      encoding: UTF-8
      string: '{"name":"john"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bd992e9eebd29619aa5c9cc7d685dbc8"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"updatedAt":"2013-04-22T16:03:14.704Z"}'
  recorded_at: Mon, 22 Apr 2013 16:03:14 GMT
[...]
- request:
    method: post
    uri: https://api.parse.com/1/classes/TestSave/WSaiWmntLn
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Http-Method-Override:
      - GET
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"code":101,"error":"object not found for get"}'
  recorded_at: Wed, 26 Mar 2014 15:21:15 GMT
recorded_with: VCR 2.4.0
