--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Foo/mY0HbGCRAj
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:33.722Z\",\"objectId\":\"mY0HbGCRAj\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:33 GMT
[...]
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Foo/mY0HbGCRAj
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"ef1dcb2048595a69be9c384eeb13973f\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:33.722Z\",\"updatedAt\":\"2013-04-22T14:11:33.722Z\",\"objectId\":\"mY0HbGCRAj\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:34 GMT
recorded_with: VCR 2.4.0
