--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body: 
      encoding: UTF-8
      string: "{\"foo\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/BatchTestObject/rzjtKIMHEX
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:25.787Z\",\"objectId\":\"rzjtKIMHEX\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:25 GMT
[...]
- request: 
    method: post
    uri: https://api.parse.com/1/batch
    body: 
      encoding: UTF-8
      string: "{\"requests\":[{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/rzjtKIMHEX\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/Jk7WMVu7rh\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/cJqyjYENfG\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/F6e2r303gZ\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/Tdwn5CZ325\",\"body\":{\"foo\":\"updated\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"7449be81a67dcf4f2c9dd8c78d5d1c4a\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "[{\"success\":{\"updatedAt\":\"2013-04-22T14:22:26.207Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T14:22:26.221Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T14:22:26.233Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T14:22:26.253Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T14:22:26.265Z\"}}]"
  recorded_at: Mon, 22 Apr 2013 14:22:26 GMT
recorded_with: VCR 2.4.0
