--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/installations
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/installations/K9I570yzN6
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:16.874Z\",\"objectId\":\"K9I570yzN6\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:16 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/installations/K9I570yzN6
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - ""
      X-Parse-Application-Id: 
      - ""
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 401 Unauthorized
      Www-Authenticate: 
      - Basic realm="Parse"
    body: 
      encoding: ASCII-8BIT
      string: "{\"error\":\"unauthorized\"}"
  recorded_at: Tue, 06 Aug 2013 00:41:56 GMT
recorded_with: VCR 2.4.0
