--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"hello\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/O8bjToMn0Q
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:34.284Z\",\"objectId\":\"O8bjToMn0Q\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:34 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Post/O8bjToMn0Q
    body: 
      encoding: UTF-8
      string: "{\"title\":{\"__op\":\"Delete\"}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"7b2fb2d9745cf572c1c70bc1dd725497\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:11:34.381Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:34 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post/O8bjToMn0Q
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"96d63716e89d99e81dcdb93924dc57bd\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:34.284Z\",\"updatedAt\":\"2013-04-22T14:11:34.381Z\",\"objectId\":\"O8bjToMn0Q\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:34 GMT
recorded_with: VCR 2.4.0
