--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Comment
    body: 
      encoding: UTF-8
      string: "{\"text\":\"great post!\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Comment/Kzx6SOYJZH
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:17.184Z\",\"objectId\":\"Kzx6SOYJZH\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:17 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"comments\":[{\"__type\":\"Pointer\",\"className\":\"Comment\",\"objectId\":\"Kzx6SOYJZH\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/hu1mYfPFtI
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:17.240Z\",\"objectId\":\"hu1mYfPFtI\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:17 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post?include=comments&where=%7B%22objectId%22:%22hu1mYfPFtI%22%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"e9cf67df60e1a72f055b45e1f0bcabd8\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"comments\":[{\"text\":\"great post!\",\"createdAt\":\"2013-04-22T16:03:17.184Z\",\"updatedAt\":\"2013-04-22T16:03:17.184Z\",\"objectId\":\"Kzx6SOYJZH\",\"__type\":\"Object\",\"className\":\"Comment\"}],\"createdAt\":\"2013-04-22T16:03:17.240Z\",\"updatedAt\":\"2013-04-22T16:03:17.240Z\",\"objectId\":\"hu1mYfPFtI\"}]}"
  recorded_at: Mon, 22 Apr 2013 16:03:17 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Post/hu1mYfPFtI
    body: 
      encoding: UTF-8
      string: "{\"comments\":[{\"__type\":\"Pointer\",\"className\":\"Comment\",\"objectId\":\"Kzx6SOYJZH\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"91d0aeebe11ed3ec9328d3359e44a389\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T16:03:17.428Z\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:17 GMT
recorded_with: VCR 2.4.0
