--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/users
    body: 
      encoding: UTF-8
      string: "{\"username\":\"alan484032810566@gmail.com\",\"password\":\"secret\"}"
    headers: 
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/users/QCdEAzgWvT
      Status: 
      - 201 Created
    body: 
      encoding: US-ASCII
      string: "{\"createdAt\":\"2013-04-28T13:39:32.913Z\",\"objectId\":\"QCdEAzgWvT\",\"sessionToken\":\"54q4sb3zxv8l8j3x4ke5p5emh\"}"
  recorded_at: Sun, 28 Apr 2013 13:39:33 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/requestPasswordReset
    body: 
      encoding: UTF-8
      string: "{\"email\":\"alan484032810566@gmail.com\"}"
    headers: 
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"99914b932bd37a50b983c5e7c90ae93b\""
      Status: 
      - 200 OK
    body: 
      encoding: US-ASCII
      string: "{}"
  recorded_at: Sun, 28 Apr 2013 13:39:34 GMT
recorded_with: VCR 2.4.0
