--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/TestSave
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/TestSave/AxJJImocw3
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:26.867Z\",\"objectId\":\"AxJJImocw3\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:26 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/TestSave/AxJJImocw3
    body: 
      encoding: UTF-8
      string: "{\"name\":\"john\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"e2db10aae0182e606b92a641911e38f8\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:22:26.929Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:26 GMT
[...]
- request: 
    method: get
    uri: https://api.parse.com/1/classes/TestSave/AxJJImocw3
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"2b66e9dcd29cc23388027a9071824131\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"name\":\"dave\",\"createdAt\":\"2013-04-22T14:22:26.867Z\",\"updatedAt\":\"2013-04-22T14:22:27.074Z\",\"objectId\":\"AxJJImocw3\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:27 GMT
recorded_with: VCR 2.4.0
