--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/70MnUSZb3M
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:22.370Z\",\"objectId\":\"70MnUSZb3M\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:22 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post/70MnUSZb3M
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"3e357ddf5c31a426d297d671f5ffa6ac\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:22.370Z\",\"updatedAt\":\"2013-04-22T16:03:22.370Z\",\"objectId\":\"70MnUSZb3M\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:22 GMT
[...]
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post/70MnUSZb3M
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
    body: 
      encoding: ASCII-8BIT
      string: "{\"code\":101,\"error\":\"object not found for get\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:22 GMT
recorded_with: VCR 2.4.0
