--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Bar
    body: 
      encoding: UTF-8
      string: "{\"foobar\":\"foobar\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Bar/qAVd6EHjHW
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:35.027Z\",\"objectId\":\"qAVd6EHjHW\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:35 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body: 
      encoding: UTF-8
      string: "{\"bar\":{\"__type\":\"Pointer\",\"className\":\"Bar\",\"objectId\":\"qAVd6EHjHW\"},\"bars\":[{\"__type\":\"Pointer\",\"className\":\"Bar\",\"objectId\":\"qAVd6EHjHW\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Foo/8v2q3nOqgZ
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:35.074Z\",\"objectId\":\"8v2q3nOqgZ\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:35 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Foo?include=bar,bars&where=%7B%22objectId%22:%228v2q3nOqgZ%22%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"1e02e8bef1099a8be3d0aa04d4bbcc53\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"bar\":{\"foobar\":\"foobar\",\"createdAt\":\"2013-04-22T14:11:35.027Z\",\"updatedAt\":\"2013-04-22T14:11:35.027Z\",\"objectId\":\"qAVd6EHjHW\",\"__type\":\"Object\",\"className\":\"Bar\"},\"bars\":[{\"foobar\":\"foobar\",\"createdAt\":\"2013-04-22T14:11:35.027Z\",\"updatedAt\":\"2013-04-22T14:11:35.027Z\",\"objectId\":\"qAVd6EHjHW\",\"__type\":\"Object\",\"className\":\"Bar\"}],\"createdAt\":\"2013-04-22T14:11:35.074Z\",\"updatedAt\":\"2013-04-22T14:11:35.074Z\",\"objectId\":\"8v2q3nOqgZ\"}]}"
  recorded_at: Mon, 22 Apr 2013 14:11:35 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Foo/8v2q3nOqgZ
    body: 
      encoding: UTF-8
      string: "{\"bar\":{\"__type\":\"Pointer\",\"className\":\"Bar\",\"objectId\":\"qAVd6EHjHW\"},\"bars\":[{\"__type\":\"Pointer\",\"className\":\"Bar\",\"objectId\":\"qAVd6EHjHW\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"c58ae55325a663219c8e99beed44ba30\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:11:35.249Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:35 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Bar/qAVd6EHjHW
    body: 
      encoding: UTF-8
      string: "{\"foobar\":\"foobar\",\"baz\":\"baz\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4f20fae08f2929332102044fac047e04\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:11:35.363Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:35 GMT
recorded_with: VCR 2.4.0
