--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"foo\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/VGCMQtxmB0
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:35.893Z\",\"objectId\":\"VGCMQtxmB0\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:35 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post/VGCMQtxmB0
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"c725f8474843a1f10bfa6e9cfd09e79a\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"title\":\"foo\",\"createdAt\":\"2013-04-22T14:11:35.893Z\",\"updatedAt\":\"2013-04-22T14:11:35.893Z\",\"objectId\":\"VGCMQtxmB0\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:35 GMT
recorded_with: VCR 2.4.0
