--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/XisUeWlCZ8
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:30.145Z\",\"objectId\":\"XisUeWlCZ8\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:30 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"other\":{\"__type\":\"Pointer\",\"className\":\"Post\",\"objectId\":\"XisUeWlCZ8\"}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/VQB0p6X6jo
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:30.194Z\",\"objectId\":\"VQB0p6X6jo\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:30 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post/VQB0p6X6jo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"311239463ceaa29148b470052cccf490\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"other\":{\"__type\":\"Pointer\",\"className\":\"Post\",\"objectId\":\"XisUeWlCZ8\"},\"createdAt\":\"2013-04-22T14:22:30.194Z\",\"updatedAt\":\"2013-04-22T14:22:30.194Z\",\"objectId\":\"VQB0p6X6jo\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:30 GMT
recorded_with: VCR 2.4.0
