--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"hello\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/foSiAYPyDd
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:19.904Z\",\"objectId\":\"foSiAYPyDd\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:19 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Post/foSiAYPyDd
    body: 
      encoding: UTF-8
      string: "{\"title\":{\"__op\":\"Delete\"}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"aefca97cb03076f4ddb34f20565afd80\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T16:03:20.599Z\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:21 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post/foSiAYPyDd
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"2e2febffbd6f760384d5d25c05c6f3c0\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:19.904Z\",\"updatedAt\":\"2013-04-22T16:03:20.599Z\",\"objectId\":\"foSiAYPyDd\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:21 GMT
recorded_with: VCR 2.4.0
