--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"hello\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/GT2aDPbKwW
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:30.749Z\",\"objectId\":\"GT2aDPbKwW\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:30 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Post/GT2aDPbKwW
    body: 
      encoding: UTF-8
      string: "{\"title\":{\"__op\":\"Delete\"}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"331d52e267cfec26a3186ecfd0a6fcc6\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:22:30.847Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:30 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post/GT2aDPbKwW
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"0486f7b573f359cce5c5a63b6c83860f\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:30.749Z\",\"updatedAt\":\"2013-04-22T14:22:30.847Z\",\"objectId\":\"GT2aDPbKwW\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:30 GMT
recorded_with: VCR 2.4.0
