--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Comment
    body: 
      encoding: UTF-8
      string: "{\"text\":\"great post!\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Comment/K0uMslzY0p
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:29.446Z\",\"objectId\":\"K0uMslzY0p\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:29 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"comments\":[{\"__type\":\"Pointer\",\"className\":\"Comment\",\"objectId\":\"K0uMslzY0p\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/qkOD7VzM9R
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:29.501Z\",\"objectId\":\"qkOD7VzM9R\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:29 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post?include=comments&where=%7B%22objectId%22:%22qkOD7VzM9R%22%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"61e49f3e811eff3597eb563267c6f294\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"comments\":[{\"text\":\"great post!\",\"createdAt\":\"2013-04-22T14:22:29.446Z\",\"updatedAt\":\"2013-04-22T14:22:29.446Z\",\"objectId\":\"K0uMslzY0p\",\"__type\":\"Object\",\"className\":\"Comment\"}],\"createdAt\":\"2013-04-22T14:22:29.501Z\",\"updatedAt\":\"2013-04-22T14:22:29.501Z\",\"objectId\":\"qkOD7VzM9R\"}]}"
  recorded_at: Mon, 22 Apr 2013 14:22:29 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Post/qkOD7VzM9R
    body: 
      encoding: UTF-8
      string: "{\"comments\":[{\"__type\":\"Pointer\",\"className\":\"Comment\",\"objectId\":\"K0uMslzY0p\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"873843d267257817c8cd7a4c3de87287\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:22:29.675Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:29 GMT
recorded_with: VCR 2.4.0
