---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <title>The page you were looking for doesn't exist (404)</title>
          <style type="text/css">
            body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
            div.dialog {
              width: 25em;
              padding: 0 4em;
              margin: 4em auto 0 auto;
              border: 1px solid #ccc;
              border-right-color: #999;
              border-bottom-color: #999;
            }
            h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
          </style>
        </head>

        <body>
          <!-- This file lives in public/404.html -->
          <div class="dialog">
            <h1>The page you were looking for doesn't exist.</h1>
            <p>You may have mistyped the address or the page may have moved.</p>
          </div>
        </body>
        </html>
  recorded_at: Wed, 26 Mar 2014 16:48:19 GMT
[...]
