---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"foo","name":"This is cool"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/VJMChhWzgt
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"createdAt":"2014-10-17T07:11:41.210Z","objectId":"VJMChhWzgt"}'
  recorded_at: Fri, 17 Oct 2014 07:11:41 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?keys=title&where=%7B%22objectId%22:%22VJMChhWzgt%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"results":[{"title":"foo","createdAt":"2014-10-17T07:11:41.210Z","updatedAt":"2014-10-17T07:11:41.210Z","objectId":"VJMChhWzgt"}]}'
  recorded_at: Fri, 17 Oct 2014 07:12:41 GMT
recorded_with: VCR 2.4.0
