---
http_interactions:
- request:
    method: put
    uri: https://api.parse.com/1/installations/987
    body:
      encoding: UTF-8
      string: '{"channels":["","my-channel"],"badge":5}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2014-09-19T15:30:53.411Z"}'
  recorded_at: Fri, 19 Sep 2014 15:30:53 GMT
recorded_with: VCR 2.4.0
