--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/batch
    body: 
      encoding: UTF-8
      string: "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1/classes/GameScore\",\"body\":{\"gameScore\":42}}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - jYdptjS76YHikuIFfJEgHD8UMIjH6cp2rWz4fo2C
      X-Parse-Application-Id: 
      - hnJRtntbYPvWfjqcqLZsdFaOKT0F3SfNU7Kc7woN
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"98e77897bd1902cdc3885b7f63ba4765\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "[{\"success\":{\"createdAt\":\"2013-01-08T15:12:26.671Z\",\"objectId\":\"YwUiZtIHgm\"}}]"
  recorded_at: Tue, 08 Jan 2013 15:12:44 GMT
recorded_with: VCR 2.0.1
