--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/functions/trivial
    body: 
      encoding: UTF-8
      string: "{\"foo\":\"bar\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 400 Bad Request
    body: 
      encoding: ASCII-8BIT
      string: "{\"code\":141,\"error\":\"function not found\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:30 GMT
recorded_with: VCR 2.4.0
