---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body:
      encoding: UTF-8
      string: '{"foo":"1"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/BatchTestObject/2ymFSQYHfE
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-05-22T16:29:53.618Z","objectId":"2ymFSQYHfE"}'
  recorded_at: Wed, 22 May 2013 16:29:53 GMT
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"PUT","path":"/1/classes/BatchTestObject/2ymFSQYHfE","body":{"foo":{"__op":"Delete"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"46d925ca6ec13b0f74a396e85f13e0d2"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '[{"success":{"updatedAt":"2013-05-22T16:29:53.704Z"}}]'
  recorded_at: Wed, 22 May 2013 16:29:53 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/BatchTestObject/2ymFSQYHfE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"97322f30380a98755c73de04b24d660c"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-05-22T16:29:53.618Z","updatedAt":"2013-05-22T16:29:53.704Z","objectId":"2ymFSQYHfE"}'
  recorded_at: Wed, 22 May 2013 16:29:53 GMT
[...]
- request:
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject/2ymFSQYHfE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Http-Method-Override:
      - GET
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"code":101,"error":"object not found for get"}'
  recorded_at: Wed, 26 Mar 2014 15:21:13 GMT
recorded_with: VCR 2.4.0
