--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body: 
      encoding: UTF-8
      string: "{\"foo\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/BatchTestObject/ZD8AqXIoV3
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:13.583Z\",\"objectId\":\"ZD8AqXIoV3\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:13 GMT
[...]
- request: 
    method: post
    uri: https://api.parse.com/1/batch
    body: 
      encoding: UTF-8
      string: "{\"requests\":[{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/ZD8AqXIoV3\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/UiphsqDkxe\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/1s3ISlPT0N\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/QpZn6ARkSA\",\"body\":{\"foo\":\"updated\"}},{\"method\":\"PUT\",\"path\":\"/1/classes/BatchTestObject/AXfva0JhBg\",\"body\":{\"foo\":\"updated\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"8f986add7fb4d8fe7235b9c12d15c3e4\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "[{\"success\":{\"updatedAt\":\"2013-04-22T16:03:13.884Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T16:03:13.895Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T16:03:13.907Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T16:03:13.947Z\"}},{\"success\":{\"updatedAt\":\"2013-04-22T16:03:13.975Z\"}}]"
  recorded_at: Mon, 22 Apr 2013 16:03:13 GMT
recorded_with: VCR 2.4.0
