--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Comment
    body: 
      encoding: UTF-8
      string: "{\"text\":\"great post!\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Comment/8xQRoxmCgY
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:32.319Z\",\"objectId\":\"8xQRoxmCgY\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"comments\":[{\"__type\":\"Pointer\",\"className\":\"Comment\",\"objectId\":\"8xQRoxmCgY\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/PtGtqlTZqZ
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:32.377Z\",\"objectId\":\"PtGtqlTZqZ\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post?include=comments&where=%7B%22objectId%22:%22PtGtqlTZqZ%22%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"c8afa70a0acf95e0f693f4227847a31a\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"comments\":[{\"text\":\"great post!\",\"createdAt\":\"2013-04-22T14:11:32.319Z\",\"updatedAt\":\"2013-04-22T14:11:32.319Z\",\"objectId\":\"8xQRoxmCgY\",\"__type\":\"Object\",\"className\":\"Comment\"}],\"createdAt\":\"2013-04-22T14:11:32.377Z\",\"updatedAt\":\"2013-04-22T14:11:32.377Z\",\"objectId\":\"PtGtqlTZqZ\"}]}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Post/PtGtqlTZqZ
    body: 
      encoding: UTF-8
      string: "{\"comments\":[{\"__type\":\"Pointer\",\"className\":\"Comment\",\"objectId\":\"8xQRoxmCgY\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"448d931caa04cfbfa02cfdaf054a6956\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:11:32.513Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
recorded_with: VCR 2.4.0
