--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"foo\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/jpI8JVVkbM
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:24.147Z\",\"objectId\":\"jpI8JVVkbM\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:24 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post/jpI8JVVkbM
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4b15e6b6503c74074161848474b33fcb\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"title\":\"foo\",\"createdAt\":\"2013-04-22T16:03:24.147Z\",\"updatedAt\":\"2013-04-22T16:03:24.147Z\",\"objectId\":\"jpI8JVVkbM\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:24 GMT
recorded_with: VCR 2.4.0
