--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"chapters\":{\"__op\":\"Add\",\"objects\":[\"hello\"]}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - jYdptjS76YHikuIFfJEgHD8UMIjH6cp2rWz4fo2C
      X-Parse-Application-Id: 
      - hnJRtntbYPvWfjqcqLZsdFaOKT0F3SfNU7Kc7woN
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/ug80aldIcg
      Status: 
      - 201 Created
    body: 
      encoding: UTF-8
      string: "{\"createdAt\":\"2012-10-15T12:59:15.263Z\",\"objectId\":\"ug80aldIcg\"}"
  recorded_at: Mon, 15 Oct 2012 12:59:16 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Post/ug80aldIcg
    body: 
      encoding: UTF-8
      string: "{\"chapters\":{\"__op\":\"Add\",\"objects\":[\"goodbye\"]}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - jYdptjS76YHikuIFfJEgHD8UMIjH6cp2rWz4fo2C
      X-Parse-Application-Id: 
      - hnJRtntbYPvWfjqcqLZsdFaOKT0F3SfNU7Kc7woN
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f99c943f91a9d6fc5e32e11d86b40755\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"chapters\":[\"hello\",\"goodbye\"],\"updatedAt\":\"2012-10-15T17:47:28.940Z\"}"
  recorded_at: Mon, 15 Oct 2012 17:47:30 GMT
recorded_with: VCR 2.0.1
