--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/CircularBar
    body: 
      encoding: UTF-8
      string: "{\"bar\":{\"__op\":\"Delete\"},\"text\":\"bar_2\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/CircularBar/WnVUEfD7Yx
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:29.836Z\",\"objectId\":\"WnVUEfD7Yx\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:29 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/CircularBar
    body: 
      encoding: UTF-8
      string: "{\"text\":\"bar\",\"bar\":{\"__type\":\"Pointer\",\"className\":\"CircularBar\",\"objectId\":\"WnVUEfD7Yx\"}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/CircularBar/11YG18R1oP
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:29.894Z\",\"objectId\":\"11YG18R1oP\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:29 GMT
recorded_with: VCR 2.4.0
