--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/users
    body: 
      encoding: UTF-8
      string: "{\"username\":\"alan2167152157930\",\"password\":\"secret\"}"
    headers: 
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/users/vCg0KX9L6S
      Status: 
      - 201 Created
    body: 
      encoding: US-ASCII
      string: "{\"createdAt\":\"2013-04-28T13:39:35.248Z\",\"objectId\":\"vCg0KX9L6S\",\"sessionToken\":\"4q4lkm055bigm8zb8dkr2pg4i\"}"
  recorded_at: Sun, 28 Apr 2013 13:39:35 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/login?password=secret&username=alan2167152157930
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"79bfaac0fa81b16043b5f46ca090cedf\""
      Status: 
      - 200 OK
    body: 
      encoding: US-ASCII
      string: "{\"username\":\"alan2167152157930\",\"createdAt\":\"2013-04-28T13:39:35.248Z\",\"updatedAt\":\"2013-04-28T13:39:35.248Z\",\"objectId\":\"vCg0KX9L6S\",\"sessionToken\":\"4q4lkm055bigm8zb8dkr2pg4i\"}"
  recorded_at: Sun, 28 Apr 2013 13:39:37 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/_User/vCg0KX9L6S
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      Content-Type: 
      - application/json
      X-Parse-Session-Token: 
      - <X-Parse-Session-Token>
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"79bfaac0fa81b16043b5f46ca090cedf\""
      Status: 
      - 200 OK
    body: 
      encoding: US-ASCII
      string: "{\"username\":\"alan2167152157930\",\"createdAt\":\"2013-04-28T13:39:35.248Z\",\"updatedAt\":\"2013-04-28T13:39:35.248Z\",\"objectId\":\"vCg0KX9L6S\",\"sessionToken\":\"4q4lkm055bigm8zb8dkr2pg4i\"}"
  recorded_at: Sun, 28 Apr 2013 13:39:38 GMT
[...]
- request: 
    method: get
    uri: https://api.parse.com/1/login?password=secret&username=alan5976098792485
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 404 Not Found
    body: 
      encoding: US-ASCII
      string: "{\"code\":101,\"error\":\"invalid login parameters\"}"
  recorded_at: Sun, 28 Apr 2013 13:39:44 GMT
recorded_with: VCR 2.4.0
