--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Foo/h7e0cUxBHB
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:32.562Z\",\"objectId\":\"h7e0cUxBHB\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:32 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Bar
    body: 
      encoding: UTF-8
      string: "{\"foo\":{\"__type\":\"Pointer\",\"className\":\"Foo\",\"objectId\":\"h7e0cUxBHB\"},\"bar\":\"bar\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Bar/NdKYGjOTZJ
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:32.656Z\",\"objectId\":\"NdKYGjOTZJ\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:32 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Bar?where=%7B%22foo%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Foo%22,%22objectId%22:%22h7e0cUxBHB%22%7D%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"a27ef4727fc17ceca269bbe94802ae8a\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"foo\":{\"__type\":\"Pointer\",\"className\":\"Foo\",\"objectId\":\"h7e0cUxBHB\"},\"bar\":\"bar\",\"createdAt\":\"2013-04-22T14:22:32.656Z\",\"updatedAt\":\"2013-04-22T14:22:32.656Z\",\"objectId\":\"NdKYGjOTZJ\"}]}"
  recorded_at: Mon, 22 Apr 2013 14:22:32 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Bar?where=%7B%22foo%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Foo%22,%22objectId%22:%22h7e0cUxBHB%22%7D%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"a27ef4727fc17ceca269bbe94802ae8a\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"foo\":{\"__type\":\"Pointer\",\"className\":\"Foo\",\"objectId\":\"h7e0cUxBHB\"},\"bar\":\"bar\",\"createdAt\":\"2013-04-22T14:22:32.656Z\",\"updatedAt\":\"2013-04-22T14:22:32.656Z\",\"objectId\":\"NdKYGjOTZJ\"}]}"
  recorded_at: Mon, 22 Apr 2013 14:22:32 GMT
recorded_with: VCR 2.4.0
