--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body: 
      encoding: UTF-8
      string: "{\"foo\":\"1\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/BatchTestObject/p3qxW1GUap
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:28.310Z\",\"objectId\":\"p3qxW1GUap\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:28 GMT
[...]
- request: 
    method: post
    uri: https://api.parse.com/1/batch
    body: 
      encoding: UTF-8
      string: "{\"requests\":[{\"method\":\"DELETE\",\"path\":\"/1/classes/BatchTestObject/p3qxW1GUap\"},{\"method\":\"DELETE\",\"path\":\"/1/classes/BatchTestObject/mFsKVyKiRv\"},{\"method\":\"DELETE\",\"path\":\"/1/classes/BatchTestObject/FQnaCYjeGm\"},{\"method\":\"DELETE\",\"path\":\"/1/classes/BatchTestObject/H9gTSgwX68\"},{\"method\":\"DELETE\",\"path\":\"/1/classes/BatchTestObject/p3jbt36nek\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"ce743ce78185012845d9156c3362f264\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "[{\"success\":true},{\"success\":true},{\"success\":true},{\"success\":true},{\"success\":true}]"
  recorded_at: Mon, 22 Apr 2013 14:11:28 GMT
recorded_with: VCR 2.4.0
