--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"chapters\":[\"hello\"]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/c6nVasFWow
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:32.079Z\",\"objectId\":\"c6nVasFWow\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Post/c6nVasFWow
    body: 
      encoding: UTF-8
      string: "{\"chapters\":{\"__op\":\"Add\",\"objects\":[\"goodbye\"]}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"7cc8e22e926484d4b6f0361510cbc0d4\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"chapters\":[\"hello\",\"goodbye\"],\"updatedAt\":\"2013-04-22T14:11:32.175Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
recorded_with: VCR 2.4.0
