--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Foo/kacJnxShT2
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:30.394Z\",\"objectId\":\"kacJnxShT2\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:30 GMT
[...]
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Foo/kacJnxShT2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"6bc54028f4475caf00c0609f65e67065\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:30.394Z\",\"updatedAt\":\"2013-04-22T14:22:30.394Z\",\"objectId\":\"kacJnxShT2\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:30 GMT
recorded_with: VCR 2.4.0
