--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/users
    body: 
      encoding: UTF-8
      string: "{\"username\":\"0.40493766445323776\",\"password\":\"topsecret\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - jYdptjS76YHikuIFfJEgHD8UMIjH6cp2rWz4fo2C
      X-Parse-Application-Id: 
      - hnJRtntbYPvWfjqcqLZsdFaOKT0F3SfNU7Kc7woN
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/users/TjN5LVdT83
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-01-10T17:13:29.400Z\",\"objectId\":\"TjN5LVdT83\",\"sessionToken\":\"ltj1s0ms3rft92u1avdnys7vn\"}"
  recorded_at: Thu, 10 Jan 2013 17:13:29 GMT
recorded_with: VCR 2.0.1
