--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"foo\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/gczPTcxcOG
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:32.963Z\",\"objectId\":\"gczPTcxcOG\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:32 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"bar\",\"other\":{\"__type\":\"Pointer\",\"className\":\"Post\",\"objectId\":\"gczPTcxcOG\"}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/5yCW3qs2KN
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:33.141Z\",\"objectId\":\"5yCW3qs2KN\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:33 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post?include=other&where=%7B%22objectId%22:%225yCW3qs2KN%22%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"860ebff532f5c3fdf78a0f91c536090e\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"title\":\"bar\",\"other\":{\"title\":\"foo\",\"createdAt\":\"2013-04-22T14:22:32.963Z\",\"updatedAt\":\"2013-04-22T14:22:32.963Z\",\"objectId\":\"gczPTcxcOG\",\"__type\":\"Object\",\"className\":\"Post\"},\"createdAt\":\"2013-04-22T14:22:33.141Z\",\"updatedAt\":\"2013-04-22T14:22:33.141Z\",\"objectId\":\"5yCW3qs2KN\"}]}"
  recorded_at: Mon, 22 Apr 2013 14:22:33 GMT
recorded_with: VCR 2.4.0
