--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"hello world\"}"
    headers: 
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/8q7HUf9da6
      Status: 
      - 201 Created
    body: 
      encoding: US-ASCII
      string: "{\"createdAt\":\"2013-04-28T13:34:36.083Z\",\"objectId\":\"8q7HUf9da6\"}"
  recorded_at: Sun, 28 Apr 2013 13:34:36 GMT
recorded_with: VCR 2.4.0
