--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Foo/HSnqug5bVz
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:23.615Z\",\"objectId\":\"HSnqug5bVz\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Bar
    body: 
      encoding: UTF-8
      string: "{\"foo\":{\"__type\":\"Pointer\",\"className\":\"Foo\",\"objectId\":\"HSnqug5bVz\"},\"bar\":\"bar\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Bar/Nuf7IHH45A
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:23.818Z\",\"objectId\":\"Nuf7IHH45A\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Bar?where=%7B%22foo%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Foo%22,%22objectId%22:%22HSnqug5bVz%22%7D%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"b63983d87af9baa682b282eafc0114d0\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"foo\":{\"__type\":\"Pointer\",\"className\":\"Foo\",\"objectId\":\"HSnqug5bVz\"},\"bar\":\"bar\",\"createdAt\":\"2013-04-22T16:03:23.818Z\",\"updatedAt\":\"2013-04-22T16:03:23.818Z\",\"objectId\":\"Nuf7IHH45A\"}]}"
  recorded_at: Mon, 22 Apr 2013 16:03:23 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Bar?where=%7B%22foo%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Foo%22,%22objectId%22:%22HSnqug5bVz%22%7D%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"b63983d87af9baa682b282eafc0114d0\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"foo\":{\"__type\":\"Pointer\",\"className\":\"Foo\",\"objectId\":\"HSnqug5bVz\"},\"bar\":\"bar\",\"createdAt\":\"2013-04-22T16:03:23.818Z\",\"updatedAt\":\"2013-04-22T16:03:23.818Z\",\"objectId\":\"Nuf7IHH45A\"}]}"
  recorded_at: Mon, 22 Apr 2013 16:03:24 GMT
recorded_with: VCR 2.4.0
