---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/installations/987
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"appIdentifier":"net.project_name","appName":"Parse Project","appVersion":"35","badge":9,"channels":["","channel1"],"deviceToken":"123","deviceType":"ios","installationId":"345","parseVersion":"1.3.0","timeZone":"Europe/Chisinau","createdAt":"2014-09-18T15:04:18.602Z","updatedAt":"2014-09-19T12:17:48.509Z","objectId":"987"}'
  recorded_at: Fri, 19 Sep 2014 14:20:26 GMT
recorded_with: VCR 2.4.0
