--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/users
    body: 
      encoding: UTF-8
      string: "{\"username\":\"0.27216148534966633\",\"password\":\"topsecret\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/users/j0rFtnWhJy
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T16:03:27.061Z\",\"objectId\":\"j0rFtnWhJy\",\"sessionToken\":\"rmranzh72f4mb3bptat7siph1\"}"
  recorded_at: Mon, 22 Apr 2013 16:03:27 GMT
recorded_with: VCR 2.4.0
