--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"foo\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - jYdptjS76YHikuIFfJEgHD8UMIjH6cp2rWz4fo2C
      X-Parse-Application-Id: 
      - hnJRtntbYPvWfjqcqLZsdFaOKT0F3SfNU7Kc7woN
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/0ylGAv4qfA
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-01-17T17:13:34.358Z\",\"objectId\":\"0ylGAv4qfA\"}"
  recorded_at: Thu, 17 Jan 2013 17:13:34 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"bar\",\"other\":{\"__type\":\"Pointer\",\"className\":\"Post\",\"objectId\":\"0ylGAv4qfA\"}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - jYdptjS76YHikuIFfJEgHD8UMIjH6cp2rWz4fo2C
      X-Parse-Application-Id: 
      - hnJRtntbYPvWfjqcqLZsdFaOKT0F3SfNU7Kc7woN
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/i0HlajhFXX
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-01-17T17:13:34.465Z\",\"objectId\":\"i0HlajhFXX\"}"
  recorded_at: Thu, 17 Jan 2013 17:13:34 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Post?include=other&where=%7B%22objectId%22:%22i0HlajhFXX%22%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - jYdptjS76YHikuIFfJEgHD8UMIjH6cp2rWz4fo2C
      X-Parse-Application-Id: 
      - hnJRtntbYPvWfjqcqLZsdFaOKT0F3SfNU7Kc7woN
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"0c16d470804a385fb35d9e40b4928e34\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"title\":\"bar\",\"other\":{\"title\":\"foo\",\"createdAt\":\"2013-01-17T17:13:34.358Z\",\"updatedAt\":\"2013-01-17T17:13:34.358Z\",\"objectId\":\"0ylGAv4qfA\",\"__type\":\"Object\",\"className\":\"Post\"},\"createdAt\":\"2013-01-17T17:13:34.465Z\",\"updatedAt\":\"2013-01-17T17:13:34.465Z\",\"objectId\":\"i0HlajhFXX\"}]}"
  recorded_at: Thu, 17 Jan 2013 17:13:35 GMT
recorded_with: VCR 2.0.1
