--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/CircularBar
    body: 
      encoding: UTF-8
      string: "{\"bar\":{\"__op\":\"Delete\"},\"text\":\"bar_2\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/CircularBar/6hHaRyOWnK
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:32.930Z\",\"objectId\":\"6hHaRyOWnK\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/CircularBar
    body: 
      encoding: UTF-8
      string: "{\"text\":\"bar\",\"bar\":{\"__type\":\"Pointer\",\"className\":\"CircularBar\",\"objectId\":\"6hHaRyOWnK\"}}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/CircularBar/K3EZhojCH0
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:32.977Z\",\"objectId\":\"K3EZhojCH0\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:32 GMT
recorded_with: VCR 2.4.0
