---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"comment":{"__op":"Delete"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - ''
      X-Parse-Rest-Api-Key:
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id:
      - <X-Parse-Application-Id>
      X-Parse-Session-Token:
      - ''
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/lt1txKrs3x
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"createdAt":"2013-05-22T22:24:06.104Z","objectId":"lt1txKrs3x"}'
  recorded_at: Wed, 22 May 2013 22:24:06 GMT
recorded_with: VCR 2.4.0
