--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/batch
    body: 
      encoding: UTF-8
      string: "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"1\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"2\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"3\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"4\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"5\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f8a531a421d9ade45238a59d5151e73c\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "[{\"success\":{\"createdAt\":\"2013-04-22T14:11:28.135Z\",\"objectId\":\"5iqSsbvh2S\"}},{\"success\":{\"createdAt\":\"2013-04-22T14:11:28.149Z\",\"objectId\":\"VZcUsFOqWS\"}},{\"success\":{\"createdAt\":\"2013-04-22T14:11:28.160Z\",\"objectId\":\"EKkHV1iv6Z\"}},{\"success\":{\"createdAt\":\"2013-04-22T14:11:28.172Z\",\"objectId\":\"t1oTuNYJL5\"}},{\"success\":{\"createdAt\":\"2013-04-22T14:11:28.184Z\",\"objectId\":\"xOc7N973lR\"}}]"
  recorded_at: Mon, 22 Apr 2013 14:11:28 GMT
recorded_with: VCR 2.4.0
