--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Post
    body: 
      encoding: UTF-8
      string: "{\"title\":\"hello\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Post/5NGfTM3uCp
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:35.498Z\",\"objectId\":\"5NGfTM3uCp\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:35 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Post/5NGfTM3uCp
    body: 
      encoding: UTF-8
      string: "{\"title\":\"hello 2\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"361a6636ee43bff62c8d51b567d24738\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:11:35.560Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:35 GMT
recorded_with: VCR 2.4.0
