--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Bar
    body: 
      encoding: UTF-8
      string: "{\"foobar\":\"foobar\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Bar/ebKT6q5yGK
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:31.591Z\",\"objectId\":\"ebKT6q5yGK\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:31 GMT
- request: 
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body: 
      encoding: UTF-8
      string: "{\"bar\":{\"__type\":\"Pointer\",\"className\":\"Bar\",\"objectId\":\"ebKT6q5yGK\"},\"bars\":[{\"__type\":\"Pointer\",\"className\":\"Bar\",\"objectId\":\"ebKT6q5yGK\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/Foo/q3U3BWZ89V
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:31.644Z\",\"objectId\":\"q3U3BWZ89V\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:31 GMT
- request: 
    method: get
    uri: https://api.parse.com/1/classes/Foo?include=bar,bars&where=%7B%22objectId%22:%22q3U3BWZ89V%22%7D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"7afad7c4ca7d9b8eb9bada1ef8b80077\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"results\":[{\"bar\":{\"foobar\":\"foobar\",\"createdAt\":\"2013-04-22T14:22:31.591Z\",\"updatedAt\":\"2013-04-22T14:22:31.591Z\",\"objectId\":\"ebKT6q5yGK\",\"__type\":\"Object\",\"className\":\"Bar\"},\"bars\":[{\"foobar\":\"foobar\",\"createdAt\":\"2013-04-22T14:22:31.591Z\",\"updatedAt\":\"2013-04-22T14:22:31.591Z\",\"objectId\":\"ebKT6q5yGK\",\"__type\":\"Object\",\"className\":\"Bar\"}],\"createdAt\":\"2013-04-22T14:22:31.644Z\",\"updatedAt\":\"2013-04-22T14:22:31.644Z\",\"objectId\":\"q3U3BWZ89V\"}]}"
  recorded_at: Mon, 22 Apr 2013 14:22:31 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Foo/q3U3BWZ89V
    body: 
      encoding: UTF-8
      string: "{\"bar\":{\"__type\":\"Pointer\",\"className\":\"Bar\",\"objectId\":\"ebKT6q5yGK\"},\"bars\":[{\"__type\":\"Pointer\",\"className\":\"Bar\",\"objectId\":\"ebKT6q5yGK\"}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f77b5348f25217baf83e893b952fc83b\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:22:31.769Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:31 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/Bar/ebKT6q5yGK
    body: 
      encoding: UTF-8
      string: "{\"foobar\":\"foobar\",\"baz\":\"baz\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4c3142b041ab55282af37264fe66c49f\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:22:31.865Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:32 GMT
recorded_with: VCR 2.4.0
