--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/users
    body: 
      encoding: UTF-8
      string: "{\"username\":\"0.4850003626060746\",\"password\":\"topsecret\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/users/2IDEf13ONi
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:22:35.161Z\",\"objectId\":\"2IDEf13ONi\",\"sessionToken\":\"5dw5j6hcfqf6szj4myc6htzg5\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:35 GMT
recorded_with: VCR 2.4.0
