---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/installations
    body:
      encoding: UTF-8
      string: '{"deviceToken":"0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef","deviceType":"ios"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Master-Key:
      - "<X-Parse-Master-Key>"
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/installations/ZfBPt6aQ4j
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-14T15:46:21.131Z","objectId":"ZfBPt6aQ4j"}
  recorded_at: Sun, 14 Jun 2015 15:46:21 GMT
recorded_with: VCR 2.9.3
