--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/batch
    body: 
      encoding: UTF-8
      string: "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"1\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"2\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"3\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"4\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"5\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f5bfc2391264517c27df2771f963753c\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "[{\"success\":{\"createdAt\":\"2013-04-22T14:22:24.787Z\",\"objectId\":\"DMw8AwOrqy\"}},{\"success\":{\"createdAt\":\"2013-04-22T14:22:24.801Z\",\"objectId\":\"YcQntU5dUP\"}},{\"success\":{\"createdAt\":\"2013-04-22T14:22:24.815Z\",\"objectId\":\"ZqUXxUwB21\"}},{\"success\":{\"createdAt\":\"2013-04-22T14:22:24.829Z\",\"objectId\":\"F54cFjBPiO\"}},{\"success\":{\"createdAt\":\"2013-04-22T14:22:24.842Z\",\"objectId\":\"J0P8htozHa\"}}]"
  recorded_at: Mon, 22 Apr 2013 14:22:24 GMT
recorded_with: VCR 2.4.0
