--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/files/hello.txt
    body: 
      encoding: US-ASCII
      string: Hello World!
    headers: 
      Content-Type: 
      - text/plain
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - http://files.parse.com/5c5d4752-8b5b-4a2b-9e5e-781c530f797b/829a0c7d-bfb5-4661-abb4-54d33b7fe411-hello.txt
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"url\":\"http://files.parse.com/5c5d4752-8b5b-4a2b-9e5e-781c530f797b/829a0c7d-bfb5-4661-abb4-54d33b7fe411-hello.txt\",\"name\":\"829a0c7d-bfb5-4661-abb4-54d33b7fe411-hello.txt\"}"
  recorded_at: Mon, 22 Apr 2013 14:22:28 GMT
recorded_with: VCR 2.4.0
