--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/classes/TestSave
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.parse.com/1/classes/TestSave/5qcc7jdphQ
      Status: 
      - 201 Created
    body: 
      encoding: ASCII-8BIT
      string: "{\"createdAt\":\"2013-04-22T14:11:29.839Z\",\"objectId\":\"5qcc7jdphQ\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:29 GMT
- request: 
    method: put
    uri: https://api.parse.com/1/classes/TestSave/5qcc7jdphQ
    body: 
      encoding: UTF-8
      string: "{\"name\":\"john\"}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"bf22cd4414ed868bc5ee3bdc73d60970\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"updatedAt\":\"2013-04-22T14:11:29.900Z\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:29 GMT
[...]
- request: 
    method: get
    uri: https://api.parse.com/1/classes/TestSave/5qcc7jdphQ
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"255c15cd7dadb5d9a9be1becd333cfde\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "{\"name\":\"dave\",\"createdAt\":\"2013-04-22T14:11:29.839Z\",\"updatedAt\":\"2013-04-22T14:11:30.034Z\",\"objectId\":\"5qcc7jdphQ\"}"
  recorded_at: Mon, 22 Apr 2013 14:11:30 GMT
recorded_with: VCR 2.4.0
