--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.parse.com/1/batch
    body: 
      encoding: UTF-8
      string: "{\"requests\":[{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"1\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"2\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"3\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"4\"}},{\"method\":\"POST\",\"path\":\"/1/classes/BatchTestObject\",\"body\":{\"foo\":\"5\"}}]}"
    headers: 
      Content-Type: 
      - application/json
      X-Parse-Master-Key: 
      - ""
      X-Parse-Rest-Api-Key: 
      - <X-Parse-REST-API-Key>
      X-Parse-Application-Id: 
      - <X-Parse-Application-Id>
      X-Parse-Session-Token: 
      - ""
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4e31197824084ee67079f3c9339dcc05\""
      Status: 
      - 200 OK
    body: 
      encoding: ASCII-8BIT
      string: "[{\"success\":{\"createdAt\":\"2013-04-22T16:03:12.247Z\",\"objectId\":\"GmYCJg3UEn\"}},{\"success\":{\"createdAt\":\"2013-04-22T16:03:12.260Z\",\"objectId\":\"n9YMhLLWS2\"}},{\"success\":{\"createdAt\":\"2013-04-22T16:03:12.273Z\",\"objectId\":\"qZMhOJkMF1\"}},{\"success\":{\"createdAt\":\"2013-04-22T16:03:12.285Z\",\"objectId\":\"ktaIPuyrHL\"}},{\"success\":{\"createdAt\":\"2013-04-22T16:03:12.298Z\",\"objectId\":\"xj8aXgqLhu\"}}]"
  recorded_at: Mon, 22 Apr 2013 16:03:12 GMT
recorded_with: VCR 2.4.0
