---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Comment
    body:
      encoding: UTF-8
      string: '{"text":"great post!"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Comment/7utocRlxMP
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:05.558Z","objectId":"7utocRlxMP"}
  recorded_at: Fri, 19 Jun 2015 14:47:05 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"comments":[{"__type":"Pointer","className":"Comment","objectId":"7utocRlxMP"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/QvKKRQ4sN4
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:06.080Z","objectId":"QvKKRQ4sN4"}
  recorded_at: Fri, 19 Jun 2015 14:47:06 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?include=comments&where=%7B%22objectId%22:%22QvKKRQ4sN4%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"comments":[{"__type":"Object","className":"Comment","createdAt":"2015-06-19T14:47:05.558Z","objectId":"7utocRlxMP","text":"great post!","updatedAt":"2015-06-19T14:47:05.558Z"}],"createdAt":"2015-06-19T14:47:06.080Z","objectId":"QvKKRQ4sN4","updatedAt":"2015-06-19T14:47:06.080Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:47:06 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/QvKKRQ4sN4
    body:
      encoding: UTF-8
      string: '{"comments":[{"__type":"Pointer","className":"Comment","objectId":"7utocRlxMP"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"updatedAt":"2015-06-19T14:47:07.048Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:07 GMT
recorded_with: VCR 2.9.3
