---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/toBeDeleted
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/toBeDeleted/72l13rh28C
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:32.805Z","objectId":"72l13rh28C"}
  recorded_at: Fri, 19 Jun 2015 14:47:32 GMT
- request:
    method: delete
    uri: https://api.parse.com/1/classes/toBeDeleted/72l13rh28C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {}
  recorded_at: Fri, 19 Jun 2015 14:47:33 GMT
recorded_with: VCR 2.9.3
