---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/TestSave
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/TestSave/ErQu25ASg6
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:27.247Z","objectId":"ErQu25ASg6"}
  recorded_at: Fri, 19 Jun 2015 14:47:27 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/TestSave/ErQu25ASg6
    body:
      encoding: UTF-8
      string: '{"name":"john"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"updatedAt":"2015-06-19T14:47:27.841Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:28 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/TestSave/ErQu25ASg6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:27.247Z","name":"dave","objectId":"ErQu25ASg6","updatedAt":"2015-06-19T14:47:28.950Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:29 GMT
recorded_with: VCR 2.9.3
