---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/TestSave
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/TestSave/CE4ohNEmIR
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:19.531Z","objectId":"CE4ohNEmIR"}
  recorded_at: Fri, 19 Jun 2015 14:47:19 GMT
recorded_with: VCR 2.9.3
