---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/TestModelObject
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/TestModelObject/tuNgAspaKf
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T17:08:37.470Z","objectId":"tuNgAspaKf"}
  recorded_at: Fri, 19 Jun 2015 17:08:37 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/TestModelObject?limit=1&where=%7B%22objectId%22:%22tuNgAspaKf%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-06-19T17:08:37.470Z","objectId":"tuNgAspaKf","updatedAt":"2015-06-19T17:08:37.470Z"}]}
  recorded_at: Fri, 19 Jun 2015 17:08:38 GMT
recorded_with: VCR 2.9.3
