---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body:
      encoding: UTF-8
      string: '{"foo":"1"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/BatchTestObject/IQ72fgC4jC
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:28:20.055Z","objectId":"IQ72fgC4jC"}

'
  recorded_at: Wed, 09 Mar 2016 17:28:20 GMT
[...]
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"DELETE","path":"/1/classes/BatchTestObject/IQ72fgC4jC"},{"method":"DELETE","path":"/1/classes/BatchTestObject/AJ2BSvIwOq"},{"method":"DELETE","path":"/1/classes/BatchTestObject/NFwMAkxN9W"},{"method":"DELETE","path":"/1/classes/BatchTestObject/NvzAFEb2Vx"},{"method":"DELETE","path":"/1/classes/BatchTestObject/S4RSbj7Dyg"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '[{"success":{}},{"success":{}},{"success":{}},{"success":{}},{"success":{}}]

'
  recorded_at: Wed, 09 Mar 2016 17:28:22 GMT
recorded_with: VCR 3.0.1
