---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/users?limit=3&order=username&where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2012-10-09T01:15:25.994Z","objectId":"ulDe9QzP5n","updatedAt":"2012-10-09T01:15:25.994Z","username":"0.0036628772676620125"},{"createdAt":"2012-09-07T15:09:46.572Z","objectId":"uLi4pvoK4I","updatedAt":"2012-09-07T15:09:46.572Z","username":"0.014530213724505248"},{"createdAt":"2015-06-19T14:12:48.733Z","objectId":"r068yq8fSr","updatedAt":"2015-06-19T14:12:48.733Z","username":"0.01549480095997613"}]}
  recorded_at: Fri, 19 Jun 2015 16:16:25 GMT
recorded_with: VCR 2.9.3
