---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"foo","name":"This is cool"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/m26vQY2lSW
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-08-27T05:12:09.509Z","objectId":"m26vQY2lSW"}
  recorded_at: Thu, 27 Aug 2015 05:12:35 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?where=%7B%22objectId%22:%22m26vQY2lSW%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-08-27T05:12:09.509Z","cs":{"__type":"Relation","className":"Comment"},"name":"This is cool","objectId":"m26vQY2lSW","title":"foo","updatedAt":"2015-08-27T05:12:09.509Z"}]}
  recorded_at: Thu, 27 Aug 2015 05:12:35 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?keys=title&where=%7B%22objectId%22:%22m26vQY2lSW%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-08-27T05:12:09.509Z","objectId":"m26vQY2lSW","title":"foo","updatedAt":"2015-08-27T05:12:09.509Z"}]}
  recorded_at: Thu, 27 Aug 2015 05:15:17 GMT
recorded_with: VCR 2.9.3
