---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/ydFDBiMXMb
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T21:08:56.950Z","objectId":"ydFDBiMXMb"}
  recorded_at: Fri, 19 Jun 2015 21:08:57 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Comment
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Comment/JtFM6vjdFo
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T21:08:57.427Z","objectId":"JtFM6vjdFo"}
  recorded_at: Fri, 19 Jun 2015 21:08:57 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/ydFDBiMXMb
    body:
      encoding: UTF-8
      string: '{"cs":{"__op":"AddRelation","objects":[{"__type":"Pointer","className":"Comment","objectId":"JtFM6vjdFo"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"updatedAt":"2015-06-19T21:08:57.912Z"}
  recorded_at: Fri, 19 Jun 2015 21:08:57 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Comment?where=%7B%22$relatedTo%22:%7B%22object%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Post%22,%22objectId%22:%22ydFDBiMXMb%22%7D,%22key%22:%22cs%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-06-19T21:08:57.427Z","objectId":"JtFM6vjdFo","updatedAt":"2015-06-19T21:08:57.427Z"}]}
  recorded_at: Fri, 19 Jun 2015 21:08:58 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Comment?where=%7B%22$relatedTo%22:%7B%22object%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Post%22,%22objectId%22:%22ydFDBiMXMb%22%7D,%22key%22:%22cs%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[]}
  recorded_at: Fri, 19 Jun 2015 21:08:59 GMT
recorded_with: VCR 2.9.3
