---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/files/hello.txt
    body:
      encoding: UTF-8
      string: Hello World!
    headers:
      Content-Type:
      - text/plain
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://files.parsetfss.com/8bc57bf6-31d6-4e0c-9229-9bbda4325815/tfss-0c1d5095-0264-4e5f-b6d2-68533067abba-hello.txt
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"name":"tfss-0c1d5095-0264-4e5f-b6d2-68533067abba-hello.txt","url":"http://files.parsetfss.com/8bc57bf6-31d6-4e0c-9229-9bbda4325815/tfss-0c1d5095-0264-4e5f-b6d2-68533067abba-hello.txt"}
  recorded_at: Fri, 19 Jun 2015 14:47:17 GMT
recorded_with: VCR 2.9.3
