---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Comment
    body:
      encoding: UTF-8
      string: '{"text":"great post!"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Comment/le4SQcYtAg
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:57.679Z","objectId":"le4SQcYtAg"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:57 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"comments":[{"__type":"Pointer","className":"Comment","objectId":"le4SQcYtAg"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/2GhyUr3e85
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:58.286Z","objectId":"2GhyUr3e85"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:58 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?include=comments&where=%7B%22objectId%22:%222GhyUr3e85%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[{"comments":[{"__type":"Object","className":"Comment","createdAt":"2016-03-09T17:11:57.679Z","objectId":"le4SQcYtAg","text":"great
        post!","updatedAt":"2016-03-09T17:11:57.679Z"}],"createdAt":"2016-03-09T17:11:58.286Z","objectId":"2GhyUr3e85","updatedAt":"2016-03-09T17:11:58.286Z"}]}

'
  recorded_at: Wed, 09 Mar 2016 17:11:58 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/2GhyUr3e85
    body:
      encoding: UTF-8
      string: '{"comments":[{"__type":"Pointer","className":"Comment","objectId":"le4SQcYtAg"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2016-03-09T17:11:59.376Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:59 GMT
recorded_with: VCR 3.0.1
