---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"count":1}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/KNTyxGuCEG
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:04.981Z","objectId":"KNTyxGuCEG"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:05 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/KNTyxGuCEG
    body:
      encoding: UTF-8
      string: '{"count":{"__op":"Increment","amount":-1}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"count":0,"updatedAt":"2016-03-09T17:12:05.448Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:05 GMT
recorded_with: VCR 3.0.1
