---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/installations
    body:
      encoding: UTF-8
      string: '{"deviceToken":"0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef","deviceType":"ios"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/installations/HO8hp183Vb
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"badge":5,"channels":["","my-channel"],"createdAt":"2015-06-19T14:15:23.551Z","deviceToken":"0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef","deviceType":"ios","objectId":"HO8hp183Vb","updatedAt":"2015-06-19T14:47:18.535Z"}
  recorded_at: Sat, 20 Jun 2015 00:13:23 GMT
recorded_with: VCR 2.9.3
