---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/files/hello.txt
    body:
      encoding: UTF-8
      string: Hello World!
    headers:
      Content-Type:
      - text/plain
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://files.parsetfss.com/9a6f1cad-4371-490e-b40f-5045ebc7b5b3/tfss-6dedb9e6-02b2-4116-8ed2-05e4a7c96c0b-hello.txt
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"name":"tfss-6dedb9e6-02b2-4116-8ed2-05e4a7c96c0b-hello.txt","url":"http://files.parsetfss.com/9a6f1cad-4371-490e-b40f-5045ebc7b5b3/tfss-6dedb9e6-02b2-4116-8ed2-05e4a7c96c0b-hello.txt"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:50 GMT
recorded_with: VCR 3.0.1
