---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Bar
    body:
      encoding: UTF-8
      string: '{"foobar":"foobar"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Bar/kU8RaSNxGY
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:46:56.959Z","objectId":"kU8RaSNxGY"}
  recorded_at: Fri, 19 Jun 2015 14:46:57 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body:
      encoding: UTF-8
      string: '{"bar":{"__type":"Pointer","className":"Bar","objectId":"kU8RaSNxGY"},"bars":[{"__type":"Pointer","className":"Bar","objectId":"kU8RaSNxGY"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Foo/MS5H1qvrBC
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:46:57.437Z","objectId":"MS5H1qvrBC"}
  recorded_at: Fri, 19 Jun 2015 14:46:57 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Foo?include=bar,bars&where=%7B%22objectId%22:%22MS5H1qvrBC%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"bar":{"__type":"Object","className":"Bar","createdAt":"2015-06-19T14:46:56.959Z","foobar":"foobar","objectId":"kU8RaSNxGY","updatedAt":"2015-06-19T14:46:56.959Z"},"bars":[{"__type":"Object","className":"Bar","createdAt":"2015-06-19T14:46:56.959Z","foobar":"foobar","objectId":"kU8RaSNxGY","updatedAt":"2015-06-19T14:46:56.959Z"}],"createdAt":"2015-06-19T14:46:57.437Z","objectId":"MS5H1qvrBC","updatedAt":"2015-06-19T14:46:57.437Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:47:00 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Foo/MS5H1qvrBC
    body:
      encoding: UTF-8
      string: '{"bar":{"__type":"Pointer","className":"Bar","objectId":"kU8RaSNxGY"},"bars":[{"__type":"Pointer","className":"Bar","objectId":"kU8RaSNxGY"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"updatedAt":"2015-06-19T14:47:01.058Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:01 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Bar/kU8RaSNxGY
    body:
      encoding: UTF-8
      string: '{"foobar":"foobar","baz":"baz"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"updatedAt":"2015-06-19T14:47:01.544Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:01 GMT
recorded_with: VCR 2.9.3
