---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/toBeDeleted
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/toBeDeleted/E2cTLhZdjP
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:36.878Z","objectId":"E2cTLhZdjP"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:36 GMT
- request:
    method: delete
    uri: https://api.parse.com/1/classes/toBeDeleted/E2cTLhZdjP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Wed, 09 Mar 2016 17:12:37 GMT
recorded_with: VCR 3.0.1
