---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/classes/SomeClass/someIdThatDoesNotExist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"code":101,"error":"object not found for get"}
  recorded_at: Fri, 19 Jun 2015 14:47:22 GMT
recorded_with: VCR 2.9.3
