---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/installations
    body:
      encoding: UTF-8
      string: '{"deviceToken":"0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef","deviceType":"ios"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/installations/Uo85t5FXVh
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"badge":5,"channels":["","my-channel"],"createdAt":"2016-03-09T17:12:55.034Z","deviceToken":"0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef","deviceType":"ios","objectId":"Uo85t5FXVh","updatedAt":"2016-03-09T17:12:55.532Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:57 GMT
recorded_with: VCR 3.0.1
