---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/TestModelObject
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/TestModelObject/BpCbHF5D5B
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:48.480Z","objectId":"BpCbHF5D5B"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:48 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/TestModelObject?limit=1&where=%7B%22objectId%22:%22BpCbHF5D5B%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[{"createdAt":"2016-03-09T17:12:48.480Z","objectId":"BpCbHF5D5B","updatedAt":"2016-03-09T17:12:48.480Z"}]}

'
  recorded_at: Wed, 09 Mar 2016 17:12:49 GMT
recorded_with: VCR 3.0.1
