---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/users
    body:
      encoding: UTF-8
      string: '{"username":"alan4300606921361@gmail.com","password":"secret"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/users/kMIdopcyK7
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:28.512Z","objectId":"kMIdopcyK7","sessionToken":"r:Eo7qrgG1rA1MSlkSLk4ZokhsQ"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:28 GMT
- request:
    method: post
    uri: https://api.parse.com/1/requestPasswordReset
    body:
      encoding: UTF-8
      string: '{"email":"alan4300606921361@gmail.com"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Wed, 09 Mar 2016 17:12:29 GMT
recorded_with: VCR 3.0.1
