---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"1"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"2"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"3"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"4"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"5"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '[{"success":{"createdAt":"2016-03-09T17:28:19.574Z","objectId":"uEOMVpeMdt"}},{"success":{"createdAt":"2016-03-09T17:28:19.573Z","objectId":"R0ceWz2Yi1"}},{"success":{"createdAt":"2016-03-09T17:28:19.573Z","objectId":"siRRlkhe5B"}},{"success":{"createdAt":"2016-03-09T17:28:19.573Z","objectId":"yI8PRJstsh"}},{"success":{"createdAt":"2016-03-09T17:28:19.572Z","objectId":"Dnwo674CdU"}}]

'
  recorded_at: Wed, 09 Mar 2016 17:28:19 GMT
recorded_with: VCR 3.0.1
