---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/login?password=secret&username=alan299652018572
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:25:21.714Z","objectId":"6CMIGu0qe4","sessionToken":"LXLMEG8ZGek3kSUYv7pWCmEsd","updatedAt":"2015-06-19T14:37:25.494Z","username":"alan299652018572"}
  recorded_at: Fri, 19 Jun 2015 14:47:49 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/_User/6CMIGu0qe4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parse-Session-Token:
      - "<X-Parse-Session-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:25:21.714Z","objectId":"6CMIGu0qe4","sessionToken":"LXLMEG8ZGek3kSUYv7pWCmEsd","updatedAt":"2015-06-19T14:37:25.494Z","username":"alan299652018572"}
  recorded_at: Fri, 19 Jun 2015 14:47:50 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/_User/6CMIGu0qe4
    body:
      encoding: UTF-8
      string: '{"username":"alan299652018572"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parse-Session-Token:
      - "<X-Parse-Session-Token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"updatedAt":"2015-06-19T14:47:50.771Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:50 GMT
recorded_with: VCR 2.9.3
