---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"hello"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/Ptm6IRTMoX
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:20.719Z","objectId":"Ptm6IRTMoX"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:20 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/Ptm6IRTMoX
    body:
      encoding: UTF-8
      string: '{"title":{"__op":"Delete"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2016-03-09T17:12:21.212Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:21 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/Ptm6IRTMoX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:20.719Z","cs":{"__type":"Relation","className":"Comment"},"objectId":"Ptm6IRTMoX","updatedAt":"2016-03-09T17:12:21.212Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:21 GMT
recorded_with: VCR 3.0.1
