---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body:
      encoding: UTF-8
      string: '{"foo":"1"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/BatchTestObject/vwwoGvl1TM
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:28:14.220Z","objectId":"vwwoGvl1TM"}

'
  recorded_at: Wed, 09 Mar 2016 17:28:14 GMT
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"PUT","path":"/1/classes/BatchTestObject/vwwoGvl1TM","body":{"foo":{"__op":"Delete"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '[{"success":{"updatedAt":"2016-03-09T17:28:14.765Z"}}]

'
  recorded_at: Wed, 09 Mar 2016 17:28:14 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/BatchTestObject/vwwoGvl1TM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:28:14.220Z","objectId":"vwwoGvl1TM","updatedAt":"2016-03-09T17:28:14.765Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:28:15 GMT
recorded_with: VCR 3.0.1
