---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"foo"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/pHu53gCHPK
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:48:08.285Z","objectId":"pHu53gCHPK"}
  recorded_at: Fri, 19 Jun 2015 14:48:08 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"bar","other":{"__type":"Pointer","className":"Post","objectId":"pHu53gCHPK"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/xEPFXsyBEF
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:48:08.773Z","objectId":"xEPFXsyBEF"}
  recorded_at: Fri, 19 Jun 2015 14:48:08 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?include=other&where=%7B%22objectId%22:%22xEPFXsyBEF%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-06-19T14:48:08.773Z","objectId":"xEPFXsyBEF","other":{"__type":"Object","className":"Post","createdAt":"2015-06-19T14:48:08.285Z","objectId":"pHu53gCHPK","title":"foo","updatedAt":"2015-06-19T14:48:08.285Z"},"title":"bar","updatedAt":"2015-06-19T14:48:08.773Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:48:10 GMT
recorded_with: VCR 2.9.3
