---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"read":false,"published":true}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/a4kT7Fu9DQ
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:07.543Z","objectId":"a4kT7Fu9DQ"}
  recorded_at: Fri, 19 Jun 2015 14:47:07 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?where=%7B%22objectId%22:%22a4kT7Fu9DQ%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-06-19T14:47:07.543Z","objectId":"a4kT7Fu9DQ","published":true,"read":false,"updatedAt":"2015-06-19T14:47:07.543Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:47:08 GMT
recorded_with: VCR 2.9.3
