---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"time":{"__type":"Date","iso":"1970-01-01T00:00:00.000Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/Fjt6wkVgUW
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:56.577Z","objectId":"Fjt6wkVgUW"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:56 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/Fjt6wkVgUW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:56.577Z","objectId":"Fjt6wkVgUW","time":{"__type":"Date","iso":"1970-01-01T00:00:00.000Z"},"updatedAt":"2016-03-09T17:11:56.577Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:57 GMT
recorded_with: VCR 3.0.1
