---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?limit=1&where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-06-19T15:42:19.696Z","objectId":"pzBLMTmxIH","title":"foo","updatedAt":"2015-06-19T15:42:19.696Z"}]}
  recorded_at: Fri, 19 Jun 2015 16:05:38 GMT
recorded_with: VCR 2.9.3
