---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/push
    body:
      encoding: UTF-8
      string: '{"data":{"alert":"This is a notification from Parse"},"deviceType":"ios","channels":["Giants"]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
      X-Parse-Push-Status-Id:
      - knUsfzyyUF
    body:
      encoding: UTF-8
      string: |
        {"result":true}
  recorded_at: Sat, 20 Jun 2015 12:35:24 GMT
recorded_with: VCR 2.9.3
