---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/vAtZUc0dkO
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:44.758Z","objectId":"vAtZUc0dkO"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:44 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?count=true&where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[{"createdAt":"2016-03-09T17:11:40.402Z","objectId":"Q6B6rAuKDo","title":"foo","updatedAt":"2016-03-09T17:11:40.402Z"},{"createdAt":"2016-03-09T17:11:40.849Z","objectId":"9iklwy2h9L","other":{"__type":"Pointer","className":"Post","objectId":"Q6B6rAuKDo"},"title":"bar","updatedAt":"2016-03-09T17:11:40.849Z"},{"createdAt":"2016-03-09T17:11:41.828Z","name":"This
        is cool","objectId":"VucsOeJt9N","title":"foo","updatedAt":"2016-03-09T17:11:41.828Z"},{"createdAt":"2016-03-09T17:11:42.801Z","objectId":"Slhtj3XjZ7","updatedAt":"2016-03-09T17:11:42.801Z"},{"createdAt":"2016-03-09T17:11:43.301Z","objectId":"9gvSyW2FXN","updatedAt":"2016-03-09T17:11:43.301Z"},{"createdAt":"2016-03-09T17:11:44.758Z","objectId":"vAtZUc0dkO","updatedAt":"2016-03-09T17:11:44.758Z"}],"count":6}

'
  recorded_at: Wed, 09 Mar 2016 17:11:45 GMT
recorded_with: VCR 3.0.1
