---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[]}

'
  recorded_at: Wed, 09 Mar 2016 17:11:34 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Cactus
    body:
      encoding: UTF-8
      string: '{"array":[1,2,5,6,7]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Cactus/I4vRx95YH4
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:35.250Z","objectId":"I4vRx95YH4"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:35 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B5,6%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[{"array":[1,2,5,6,7],"createdAt":"2016-03-09T17:11:35.250Z","objectId":"I4vRx95YH4","updatedAt":"2016-03-09T17:11:35.250Z"},{"array":[3,4,5,6],"createdAt":"2016-03-09T17:11:35.798Z","objectId":"YzlnxOld64","updatedAt":"2016-03-09T17:11:35.798Z"}]}

'
  recorded_at: Wed, 09 Mar 2016 17:11:36 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B1,5,6%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[{"array":[1,2,5,6,7],"createdAt":"2016-03-09T17:11:35.250Z","objectId":"I4vRx95YH4","updatedAt":"2016-03-09T17:11:35.250Z"}]}

'
  recorded_at: Wed, 09 Mar 2016 17:11:36 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B9%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[]}

'
  recorded_at: Wed, 09 Mar 2016 17:11:38 GMT
recorded_with: VCR 3.0.1
