---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body:
      encoding: UTF-8
      string: '{"foo":"1"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/BatchTestObject/pmK4fQDOYK
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:28:15.782Z","objectId":"pmK4fQDOYK"}

'
  recorded_at: Wed, 09 Mar 2016 17:28:15 GMT
[...]
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"PUT","path":"/1/classes/BatchTestObject/pmK4fQDOYK","body":{"foo":"updated"}},{"method":"PUT","path":"/1/classes/BatchTestObject/wCjbhnVmup","body":{"foo":"updated"}},{"method":"PUT","path":"/1/classes/BatchTestObject/MRtHw0D2Yb","body":{"foo":"updated"}},{"method":"PUT","path":"/1/classes/BatchTestObject/W3r4HuLbPu","body":{"foo":"updated"}},{"method":"PUT","path":"/1/classes/BatchTestObject/CbQUVoliBs","body":{"foo":"updated"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '[{"success":{"updatedAt":"2016-03-09T17:28:18.519Z"}},{"success":{"updatedAt":"2016-03-09T17:28:18.519Z"}},{"success":{"updatedAt":"2016-03-09T17:28:18.518Z"}},{"success":{"updatedAt":"2016-03-09T17:28:18.519Z"}},{"success":{"updatedAt":"2016-03-09T17:28:18.518Z"}}]

'
  recorded_at: Wed, 09 Mar 2016 17:28:18 GMT
recorded_with: VCR 3.0.1
