---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/users
    body:
      encoding: UTF-8
      string: '{"username":"0.31776623548679894","password":"topsecret"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/users/4GBsTsL9Oa
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:30.289Z","objectId":"4GBsTsL9Oa","sessionToken":"r:jkSHYDJELyJFeadgLMHrDdIPP"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:30 GMT
recorded_with: VCR 3.0.1
