---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"chapters":["hello"]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/EZVNdwSTeg
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T20:53:40.707Z","objectId":"EZVNdwSTeg"}
  recorded_at: Fri, 19 Jun 2015 20:53:40 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/EZVNdwSTeg
    body:
      encoding: UTF-8
      string: '{"chapters":{"__op":"Remove","objects":["hello"]}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"chapters":[],"updatedAt":"2015-06-19T20:53:41.935Z"}
  recorded_at: Fri, 19 Jun 2015 20:53:42 GMT
recorded_with: VCR 2.9.3
