---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body:
      encoding: UTF-8
      string: '{"foo":"1"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/BatchTestObject/5AywX2qSmz
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:39.662Z","objectId":"5AywX2qSmz"}
  recorded_at: Fri, 19 Jun 2015 14:47:39 GMT
[...]
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"DELETE","path":"/1/classes/BatchTestObject/5AywX2qSmz"},{"method":"DELETE","path":"/1/classes/BatchTestObject/VLnAAkFjnF"},{"method":"DELETE","path":"/1/classes/BatchTestObject/OygcD6eLqQ"},{"method":"DELETE","path":"/1/classes/BatchTestObject/mJoB6R9XSu"},{"method":"DELETE","path":"/1/classes/BatchTestObject/DtwvFJI4Ok"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        [{"success":{}},{"success":{}},{"success":{}},{"success":{}},{"success":{}}]
  recorded_at: Fri, 19 Jun 2015 14:47:42 GMT
recorded_with: VCR 2.9.3
