---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"random":7}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/gn07SzpKzp
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:48.245Z","objectId":"gn07SzpKzp"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:48 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?where=%7B%22random%22:7%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[{"createdAt":"2016-03-09T17:11:48.245Z","objectId":"gn07SzpKzp","random":7,"updatedAt":"2016-03-09T17:11:48.245Z"}]}

'
  recorded_at: Wed, 09 Mar 2016 17:11:48 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?where=%7B%22$or%22:%5B%7B%22random%22:7%7D,%7B%22random%22:5%7D%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[{"createdAt":"2016-03-09T17:11:48.245Z","objectId":"gn07SzpKzp","random":7,"updatedAt":"2016-03-09T17:11:48.245Z"},{"createdAt":"2016-03-09T17:11:49.256Z","objectId":"VTFzeXgfNN","random":5,"updatedAt":"2016-03-09T17:11:49.256Z"}]}

'
  recorded_at: Wed, 09 Mar 2016 17:11:50 GMT
recorded_with: VCR 3.0.1
