---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"location":{"__type":"GeoPoint","latitude":-30.0,"longitude":40.0}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/WRtD9ha8tc
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:55.189Z","objectId":"WRtD9ha8tc"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:55 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/WRtD9ha8tc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:55.189Z","location":{"__type":"GeoPoint","latitude":-30,"longitude":40},"objectId":"WRtD9ha8tc","updatedAt":"2016-03-09T17:11:55.189Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:55 GMT
recorded_with: VCR 3.0.1
