---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/h224Ol3lcL
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T21:05:36.727Z","objectId":"h224Ol3lcL"}
  recorded_at: Fri, 19 Jun 2015 21:05:36 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Comment
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Comment/Q2zD2g6kpf
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T21:05:37.216Z","objectId":"Q2zD2g6kpf"}
  recorded_at: Fri, 19 Jun 2015 21:05:37 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/h224Ol3lcL
    body:
      encoding: UTF-8
      string: '{"cs":{"__op":"AddRelation","objects":[{"__type":"Pointer","className":"Comment","objectId":"Q2zD2g6kpf"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"updatedAt":"2015-06-19T21:05:37.715Z"}
  recorded_at: Fri, 19 Jun 2015 21:05:37 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Comment?where=%7B%22$relatedTo%22:%7B%22object%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Post%22,%22objectId%22:%22h224Ol3lcL%22%7D,%22key%22:%22cs%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-06-19T21:05:37.216Z","objectId":"Q2zD2g6kpf","updatedAt":"2015-06-19T21:05:37.216Z"}]}
  recorded_at: Fri, 19 Jun 2015 21:05:38 GMT
recorded_with: VCR 2.9.3
