---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/TestSave
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/TestSave/LCMkPepCGB
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:31.406Z","objectId":"LCMkPepCGB"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:31 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/TestSave/LCMkPepCGB
    body:
      encoding: UTF-8
      string: '{"name":"john"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2016-03-09T17:12:32.061Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:32 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/TestSave/LCMkPepCGB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:31.406Z","name":"dave","objectId":"LCMkPepCGB","updatedAt":"2016-03-09T17:12:33.134Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:33 GMT
recorded_with: VCR 3.0.1
