---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/BatchTestObject
    body:
      encoding: UTF-8
      string: '{"foo":"1"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/BatchTestObject/xPKQqmG2vH
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:33.817Z","objectId":"xPKQqmG2vH"}
  recorded_at: Fri, 19 Jun 2015 14:47:33 GMT
[...]
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"PUT","path":"/1/classes/BatchTestObject/xPKQqmG2vH","body":{"foo":"updated"}},{"method":"PUT","path":"/1/classes/BatchTestObject/YRe5CQRfcy","body":{"foo":"updated"}},{"method":"PUT","path":"/1/classes/BatchTestObject/SiKaiDiSlP","body":{"foo":"updated"}},{"method":"PUT","path":"/1/classes/BatchTestObject/AmhED1a3v0","body":{"foo":"updated"}},{"method":"PUT","path":"/1/classes/BatchTestObject/xEPE05F5cf","body":{"foo":"updated"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        [{"success":{"updatedAt":"2015-06-19T14:47:38.990Z"}},{"success":{"updatedAt":"2015-06-19T14:47:38.991Z"}},{"success":{"updatedAt":"2015-06-19T14:47:38.990Z"}},{"success":{"updatedAt":"2015-06-19T14:47:38.996Z"}},{"success":{"updatedAt":"2015-06-19T14:47:38.991Z"}}]
  recorded_at: Fri, 19 Jun 2015 14:47:39 GMT
recorded_with: VCR 2.9.3
