---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"chapters":["hello"]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/2UNBmkH2rT
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:46:54.351Z","objectId":"2UNBmkH2rT"}
  recorded_at: Fri, 19 Jun 2015 14:46:54 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/2UNBmkH2rT
    body:
      encoding: UTF-8
      string: '{"chapters":{"__op":"Add","objects":["goodbye"]}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"chapters":["hello","goodbye"],"updatedAt":"2015-06-19T14:46:54.823Z"}
  recorded_at: Fri, 19 Jun 2015 14:46:54 GMT
recorded_with: VCR 2.9.3
