---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/installations
    body:
      encoding: UTF-8
      string: '{"deviceToken":"123","deviceType":"ios"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"code":114,"error":"Invalid device token: 123"}
  recorded_at: Sat, 20 Jun 2015 00:13:24 GMT
recorded_with: VCR 2.9.3
