---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Foo/Hn5tn8fhmw
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:57.636Z","objectId":"Hn5tn8fhmw"}
  recorded_at: Fri, 19 Jun 2015 14:47:57 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Bar
    body:
      encoding: UTF-8
      string: '{"foo":{"__type":"Pointer","className":"Foo","objectId":"Hn5tn8fhmw"},"bar":"bar"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Bar/D74ARsyyGH
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:58.109Z","objectId":"D74ARsyyGH"}
  recorded_at: Fri, 19 Jun 2015 14:47:58 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Bar?where=%7B%22foo%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Foo%22,%22objectId%22:%22Hn5tn8fhmw%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"bar":"bar","createdAt":"2015-06-19T14:47:58.109Z","foo":{"__type":"Pointer","className":"Foo","objectId":"Hn5tn8fhmw"},"objectId":"D74ARsyyGH","updatedAt":"2015-06-19T14:47:58.109Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:47:58 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Bar?where=%7B%22foo%22:%7B%22__type%22:%22Pointer%22,%22className%22:%22Foo%22,%22objectId%22:%22Hn5tn8fhmw%22%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"bar":"bar","createdAt":"2015-06-19T14:47:58.109Z","foo":{"__type":"Pointer","className":"Foo","objectId":"Hn5tn8fhmw"},"objectId":"D74ARsyyGH","updatedAt":"2015-06-19T14:47:58.109Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:47:59 GMT
recorded_with: VCR 2.9.3
