---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"time":{"__type":"Date","iso":"1970-01-01T00:00:00.000Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/TPOJzIeP7c
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:53.842Z","objectId":"TPOJzIeP7c"}
  recorded_at: Fri, 19 Jun 2015 14:47:53 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/TPOJzIeP7c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:53.842Z","objectId":"TPOJzIeP7c","time":{"__type":"Date","iso":"1970-01-01T00:00:00.000Z"},"updatedAt":"2015-06-19T14:47:53.842Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:54 GMT
recorded_with: VCR 2.9.3
