---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"hello"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/Onw0L0dY6r
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:46:51.455Z","objectId":"Onw0L0dY6r"}
  recorded_at: Fri, 19 Jun 2015 14:46:51 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/Onw0L0dY6r
    body:
      encoding: UTF-8
      string: '{"title":{"__op":"Delete"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"updatedAt":"2015-06-19T14:46:51.914Z"}
  recorded_at: Fri, 19 Jun 2015 14:46:51 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/Onw0L0dY6r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:46:51.455Z","objectId":"Onw0L0dY6r","updatedAt":"2015-06-19T14:46:51.914Z"}
  recorded_at: Fri, 19 Jun 2015 14:46:53 GMT
recorded_with: VCR 2.9.3
