---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"location":{"__type":"GeoPoint","latitude":-30.0,"longitude":40.0}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/p3JmWo04Ff
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:52.842Z","objectId":"p3JmWo04Ff"}
  recorded_at: Fri, 19 Jun 2015 14:47:52 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/p3JmWo04Ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:52.842Z","location":{"__type":"GeoPoint","latitude":-30,"longitude":40},"objectId":"p3JmWo04Ff","updatedAt":"2015-06-19T14:47:52.842Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:53 GMT
recorded_with: VCR 2.9.3
