---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/muFySZ3MK0
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T16:03:46.232Z","objectId":"muFySZ3MK0"}
  recorded_at: Fri, 19 Jun 2015 16:03:46 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?count=true&where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: ASCII-8BIT
      string: |
        {"results":[{"createdAt":"2015-06-19T15:42:19.696Z","objectId":"pzBLMTmxIH","title":"foo","updatedAt":"2015-06-19T15:42:19.696Z"},{"createdAt":"2015-06-19T14:52:06.568Z","objectId":"pWn1tykhst","random":5,"updatedAt":"2015-06-19T14:52:06.568Z"},{"createdAt":"2015-06-19T14:52:05.609Z","objectId":"gybLZBSy1o","random":7,"updatedAt":"2015-06-19T14:52:05.609Z"},{"createdAt":"2015-06-19T14:47:11.878Z","objectId":"wpgp42xwMu","other":{"__type":"Pointer","className":"Post","objectId":"3P1DwV9X7R"},"updatedAt":"2015-06-19T14:47:11.878Z"},{"createdAt":"2015-06-19T14:48:08.285Z","objectId":"pHu53gCHPK","title":"foo","updatedAt":"2015-06-19T14:48:08.285Z"},{"createdAt":"2015-06-19T14:47:59.631Z","objectId":"4kTZXJRi9E","title":"foo","updatedAt":"2015-06-19T14:47:59.631Z"},{"createdAt":"2015-06-19T14:47:56.677Z","objectId":"ls4sIrydCH","random":3,"updatedAt":"2015-06-19T14:47:56.677Z"},{"createdAt":"2015-06-19T14:47:53.842Z","objectId":"TPOJzIeP7c","time":{"__type":"Date","iso":"1970-01-01T00:00:00.000Z"},"updatedAt":"2015-06-19T14:47:53.842Z"},{"count":0,"createdAt":"2015-06-19T14:47:04.563Z","objectId":"ecSJRSkJSt","updatedAt":"2015-06-19T14:47:05.059Z"},{"createdAt":"2015-06-19T14:47:07.543Z","objectId":"a4kT7Fu9DQ","published":true,"read":false,"updatedAt":"2015-06-19T14:47:07.543Z"},{"createdAt":"2015-06-19T14:46:51.455Z","objectId":"Onw0L0dY6r","updatedAt":"2015-06-19T14:46:51.914Z"},{"createdAt":"2015-06-19T14:46:53.865Z","objectId":"hQBE7tb1RY","title":"hello world","updatedAt":"2015-06-19T14:46:53.865Z"},{"createdAt":"2015-06-19T14:31:30.581Z","objectId":"R4XMJhJtJu","random":2,"updatedAt":"2015-06-19T14:31:30.581Z"},{"createdAt":"2015-06-19T14:25:11.809Z","objectId":"5rGDcbDnTH","random":0.04405561490818777,"updatedAt":"201[...]
