---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/users
    body:
      encoding: UTF-8
      string: '{"username":"alan9579168207175@gmail.com","password":"secret"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/users/qntS1bWd3d
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:48.179Z","objectId":"qntS1bWd3d","sessionToken":"Ivn7yI9u1pTXfFvSZA31PkykL"}
  recorded_at: Fri, 19 Jun 2015 14:47:48 GMT
- request:
    method: post
    uri: https://api.parse.com/1/requestPasswordReset
    body:
      encoding: UTF-8
      string: '{"email":"alan9579168207175@gmail.com"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {}
  recorded_at: Fri, 19 Jun 2015 14:47:49 GMT
recorded_with: VCR 2.9.3
