---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/push
    body:
      encoding: UTF-8
      string: '{"data":{"alert":"This is a notification from Parse"},"deviceType":"ios","channels":["Giants"]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
      X-Parse-Push-Status-Id:
      - BP5rMscLNA
    body:
      encoding: UTF-8
      string: '{"result":true}

'
  recorded_at: Wed, 09 Mar 2016 17:12:58 GMT
recorded_with: VCR 3.0.1
