---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"chapters":["hello"]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/yqszaiwkuR
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:22.702Z","objectId":"yqszaiwkuR"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:22 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/yqszaiwkuR
    body:
      encoding: UTF-8
      string: '{"chapters":{"__op":"Remove","objects":["hello"]}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"chapters":[],"updatedAt":"2016-03-09T17:12:23.164Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:23 GMT
recorded_with: VCR 3.0.1
