---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/users?limit=3&order=-username&where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-06-19T13:11:31.762Z","objectId":"3Cs5TBfHdi","updatedAt":"2015-06-19T13:11:31.762Z","username":"alan999700323195@gmail.com"},{"createdAt":"2014-08-22T23:28:54.634Z","objectId":"iNv9VxWlBx","updatedAt":"2014-08-22T23:28:55.084Z","username":"alan9983422819196"},{"createdAt":"2015-05-21T12:59:23.691Z","objectId":"4m46X48dt6","updatedAt":"2015-05-21T12:59:23.691Z","username":"alan9981153719607@gmail.com"}]}
  recorded_at: Fri, 19 Jun 2015 16:16:24 GMT
recorded_with: VCR 2.9.3
