---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/users?where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: ASCII-8BIT
      string: |
        {"results":[{"createdAt":"2012-04-06T21:32:41.496Z","objectId":"4lB0ArQ8K0","updatedAt":"2012-04-06T21:32:41.496Z","username":"alan2518970475610"},{"createdAt":"2012-04-06T21:32:42.208Z","objectId":"WQEshOuBlJ","updatedAt":"2012-04-06T21:32:42.208Z","username":"0.1284078916541772"},{"createdAt":"2012-04-06T21:32:56.143Z","objectId":"WyhufkveD8","updatedAt":"2012-04-06T21:32:56.143Z","username":"alan6152988441085"},{"createdAt":"2012-04-06T21:32:56.871Z","objectId":"kSbwAquYtI","updatedAt":"2012-04-06T21:32:56.871Z","username":"0.27452036203296637"},{"createdAt":"2012-04-06T21:37:19.175Z","objectId":"SiJN1Rtae2","update[...]
