---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"count":1}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/ecSJRSkJSt
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:04.563Z","objectId":"ecSJRSkJSt"}
  recorded_at: Fri, 19 Jun 2015 14:47:04 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/ecSJRSkJSt
    body:
      encoding: UTF-8
      string: '{"count":{"__op":"Increment","amount":-1}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"count":0,"updatedAt":"2015-06-19T14:47:05.059Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:05 GMT
recorded_with: VCR 2.9.3
