---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"ACL":{"*":{"read":true}}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/uzGWw3QO5X
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:08.498Z","objectId":"uzGWw3QO5X"}
  recorded_at: Fri, 19 Jun 2015 14:47:08 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/uzGWw3QO5X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"ACL":{"*":{"read":true}},"createdAt":"2015-06-19T14:47:08.498Z","objectId":"uzGWw3QO5X","updatedAt":"2015-06-19T14:47:08.498Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:09 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/uzGWw3QO5X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"ACL":{"*":{"read":true}},"createdAt":"2015-06-19T14:47:08.498Z","objectId":"uzGWw3QO5X","updatedAt":"2015-06-19T14:47:08.498Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:09 GMT
recorded_with: VCR 2.9.3
