---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/login?password=secret&username=alan4300606921361@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:28.512Z","objectId":"kMIdopcyK7","sessionToken":"r:i4PucfXrFKZTRRXfrAJIMOAVe","updatedAt":"2016-03-09T17:19:36.717Z","username":"alan4300606921361@gmail.com"}

'
  recorded_at: Wed, 09 Mar 2016 17:20:27 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/_User/kMIdopcyK7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parse-Session-Token:
      - "<X-Parse-Session-Token>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:28.512Z","objectId":"kMIdopcyK7","sessionToken":"r:i4PucfXrFKZTRRXfrAJIMOAVe","updatedAt":"2016-03-09T17:19:36.717Z","username":"alan4300606921361@gmail.com"}

'
  recorded_at: Wed, 09 Mar 2016 17:20:28 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/_User/kMIdopcyK7
    body:
      encoding: UTF-8
      string: '{"username":"alan4300606921361@gmail.com"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parse-Session-Token:
      - "<X-Parse-Session-Token>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2016-03-09T17:20:28.886Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:20:28 GMT
recorded_with: VCR 3.0.1
