---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/batch
    body:
      encoding: UTF-8
      string: '{"requests":[{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"1"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"2"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"3"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"4"}},{"method":"POST","path":"/1/classes/BatchTestObject","body":{"foo":"5"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        [{"success":{"createdAt":"2015-06-19T14:47:42.599Z","objectId":"VgrSQ2MdfP"}},{"success":{"createdAt":"2015-06-19T14:47:42.599Z","objectId":"GW7mRLu5EU"}},{"success":{"createdAt":"2015-06-19T14:47:42.599Z","objectId":"c40GzrAQkP"}},{"success":{"createdAt":"2015-06-19T14:47:42.599Z","objectId":"frwpGeQ6Tc"}},{"success":{"createdAt":"2015-06-19T14:47:42.599Z","objectId":"CVTcPMHB3J"}}]
  recorded_at: Fri, 19 Jun 2015 14:47:42 GMT
recorded_with: VCR 2.9.3
