---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Bar
    body:
      encoding: UTF-8
      string: '{"foobar":"foobar"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Bar/xaZr9P3z2z
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:05.941Z","objectId":"xaZr9P3z2z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:06 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Foo
    body:
      encoding: UTF-8
      string: '{"bar":{"__type":"Pointer","className":"Bar","objectId":"xaZr9P3z2z"},"bars":[{"__type":"Pointer","className":"Bar","objectId":"xaZr9P3z2z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Foo/vvu1w9ja5q
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:06.406Z","objectId":"vvu1w9ja5q"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:06 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Foo?include=bar,bars&where=%7B%22objectId%22:%22vvu1w9ja5q%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[{"bar":{"__type":"Object","className":"Bar","createdAt":"2016-03-09T17:12:05.941Z","foobar":"foobar","objectId":"xaZr9P3z2z","updatedAt":"2016-03-09T17:12:05.941Z"},"bars":[{"__type":"Object","className":"Bar","createdAt":"2016-03-09T17:12:05.941Z","foobar":"foobar","objectId":"xaZr9P3z2z","updatedAt":"2016-03-09T17:12:05.941Z"}],"createdAt":"2016-03-09T17:12:06.406Z","objectId":"vvu1w9ja5q","updatedAt":"2016-03-09T17:12:06.406Z"}]}

'
  recorded_at: Wed, 09 Mar 2016 17:12:08 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Foo/vvu1w9ja5q
    body:
      encoding: UTF-8
      string: '{"bar":{"__type":"Pointer","className":"Bar","objectId":"xaZr9P3z2z"},"bars":[{"__type":"Pointer","className":"Bar","objectId":"xaZr9P3z2z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2016-03-09T17:12:08.776Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:08 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Bar/xaZr9P3z2z
    body:
      encoding: UTF-8
      string: '{"foobar":"foobar","baz":"baz"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2016-03-09T17:12:10.350Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:10 GMT
recorded_with: VCR 3.0.1
