---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"chapters":["hello"]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/uxyTisRKpy
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:12:26.490Z","objectId":"uxyTisRKpy"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:26 GMT
- request:
    method: put
    uri: https://api.parse.com/1/classes/Post/uxyTisRKpy
    body:
      encoding: UTF-8
      string: '{"chapters":{"__op":"Add","objects":["goodbye"]}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"chapters":["hello","goodbye"],"updatedAt":"2016-03-09T17:12:26.944Z"}

'
  recorded_at: Wed, 09 Mar 2016 17:12:27 GMT
recorded_with: VCR 3.0.1
