---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"random":7}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/gybLZBSy1o
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:52:05.609Z","objectId":"gybLZBSy1o"}
  recorded_at: Fri, 19 Jun 2015 14:52:05 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?where=%7B%22random%22:7%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-06-19T14:52:05.609Z","objectId":"gybLZBSy1o","random":7,"updatedAt":"2015-06-19T14:52:05.609Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:52:06 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?where=%7B%22$or%22:%5B%7B%22random%22:7%7D,%7B%22random%22:5%7D%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"createdAt":"2015-06-19T14:52:06.568Z","objectId":"pWn1tykhst","random":5,"updatedAt":"2015-06-19T14:52:06.568Z"},{"createdAt":"2015-06-19T14:52:05.609Z","objectId":"gybLZBSy1o","random":7,"updatedAt":"2015-06-19T14:52:05.609Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:52:07 GMT
recorded_with: VCR 2.9.3
