---
http_interactions:
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"array":[1,2,5,6,7],"createdAt":"2015-06-19T14:14:52.293Z","objectId":"Q7F8J5KrCb","updatedAt":"2015-06-19T14:14:52.293Z"},{"array":[3,4,5,6],"createdAt":"2015-06-19T14:14:52.760Z","objectId":"JqEzinGtov","updatedAt":"2015-06-19T14:14:52.760Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:48:00 GMT
- request:
    method: delete
    uri: https://api.parse.com/1/classes/Cactus/Q7F8J5KrCb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {}
  recorded_at: Fri, 19 Jun 2015 14:48:01 GMT
- request:
    method: delete
    uri: https://api.parse.com/1/classes/Cactus/JqEzinGtov
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {}
  recorded_at: Fri, 19 Jun 2015 14:48:02 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Cactus
    body:
      encoding: UTF-8
      string: '{"array":[1,2,5,6,7]}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Cactus/gajvllZJQp
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:48:02.535Z","objectId":"gajvllZJQp"}
  recorded_at: Fri, 19 Jun 2015 14:48:02 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B5,6%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"array":[3,4,5,6],"createdAt":"2015-06-19T14:48:03.043Z","objectId":"MiNLSnLvGe","updatedAt":"2015-06-19T14:48:03.043Z"},{"array":[1,2,5,6,7],"createdAt":"2015-06-19T14:48:02.535Z","objectId":"gajvllZJQp","updatedAt":"2015-06-19T14:48:02.535Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:48:04 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B1,5,6%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[{"array":[1,2,5,6,7],"createdAt":"2015-06-19T14:48:02.535Z","objectId":"gajvllZJQp","updatedAt":"2015-06-19T14:48:02.535Z"}]}
  recorded_at: Fri, 19 Jun 2015 14:48:05 GMT
[...]
- request:
    method: get
    uri: https://api.parse.com/1/classes/Cactus?where=%7B%22array%22:%7B%22$all%22:%5B9%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"results":[]}
  recorded_at: Fri, 19 Jun 2015 14:48:07 GMT
recorded_with: VCR 2.9.3
