---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/3P1DwV9X7R
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:11.390Z","objectId":"3P1DwV9X7R"}
  recorded_at: Fri, 19 Jun 2015 14:47:11 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"other":{"__type":"Pointer","className":"Post","objectId":"3P1DwV9X7R"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/wpgp42xwMu
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:11.878Z","objectId":"wpgp42xwMu"}
  recorded_at: Fri, 19 Jun 2015 14:47:11 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post/wpgp42xwMu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"createdAt":"2015-06-19T14:47:11.878Z","objectId":"wpgp42xwMu","other":{"__type":"Pointer","className":"Post","objectId":"3P1DwV9X7R"},"updatedAt":"2015-06-19T14:47:11.878Z"}
  recorded_at: Fri, 19 Jun 2015 14:47:12 GMT
recorded_with: VCR 2.9.3
