---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"foo"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/Q6B6rAuKDo
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:40.402Z","objectId":"Q6B6rAuKDo"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:40 GMT
- request:
    method: post
    uri: https://api.parse.com/1/classes/Post
    body:
      encoding: UTF-8
      string: '{"title":"bar","other":{"__type":"Pointer","className":"Post","objectId":"Q6B6rAuKDo"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.parse.com/1/classes/Post/9iklwy2h9L
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"createdAt":"2016-03-09T17:11:40.849Z","objectId":"9iklwy2h9L"}

'
  recorded_at: Wed, 09 Mar 2016 17:11:40 GMT
- request:
    method: get
    uri: https://api.parse.com/1/classes/Post?include=other&where=%7B%22objectId%22:%229iklwy2h9L%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - "<X-Parse-Application-Id>"
      X-Parse-Rest-Api-Key:
      - "<X-Parse-REST-API-Key>"
      X-Parserubyclient-Retries:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: '{"results":[{"createdAt":"2016-03-09T17:11:40.849Z","objectId":"9iklwy2h9L","other":{"__type":"Object","className":"Post","createdAt":"2016-03-09T17:11:40.402Z","objectId":"Q6B6rAuKDo","title":"foo","updatedAt":"2016-03-09T17:11:40.402Z"},"title":"bar","updatedAt":"2016-03-09T17:11:40.849Z"}]}

'
  recorded_at: Wed, 09 Mar 2016 17:11:41 GMT
recorded_with: VCR 3.0.1
